@model  List<TaskProject.Entities.Models.Company>

@{
    ViewBag.Title = "Company List";
}

<h2 class="text-center">Company List</h2>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" onclick="RenderActions('/Company/Create')" data-target="#modalCreate">Create new</button>
    </div>
</div>
<br />
<div id="studentList">
    <table id="tableMain" class="table table-hover responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Student Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="indexTbody">
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyDetail)
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary" data-toggle="modal" onclick="RenderActions('/Company/Edit/' + @item.Id)" data-target="#modalCreate">Edit</button> |
                        <button class="btn btn-sm btn-danger" data-toggle="modal" onclick="RenderActions('/Company/Delete/' + @item.Id)" data-target="#modalCreate">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="modalCreate" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="OpenDialog" class="modal-body">

            </div>
        </div>
    </div>
</div>
